:root {
    --bg: #000;
    --link-bg: #222;
    --marker: #777;
    --fg: #fff;  
    --font: sans-serif;
    --mono-font: monospace;
}

* { margin: 0; padding: 0; box-sizing: border-box; text-decoration: none; color: var(--fg); }
body { padding: 32px 48px; font-size: 16px; font-family: var(--font); background-color: var(--bg); }
body > *, body > * > * { margin-bottom: 16px; }
main { max-width: 625px; clear: both; }
header { float: left; margin: 0; min-height: 64px; }
header img { display: block; }
nav { margin: 0 0; }
nav ul { padding: 0; margin: 0 32px 16px 0; float: left }
nav ul li { list-style-type: none; white-space: pre; }
nav ul li a { background-color: var(--bg); text-decoration: none; }
nav ul li a::before { content: ""; }
nav ul li a::after { content: ""; }
nav ul li a.link-self, nav ul li a.link-parent { font-style: italic; font-weight: bold; text-decoration: underline; }
hr { clear: both; }
h1, h2, h3 { display: list-item; }
h1 { list-style: "H1 "; }
h2 { list-style: "H2 "; }
h3 { list-style: "H3 "; }
h1::marker, h2::marker, h3::marker { font-family: var(--mono-font); font-size: 12px; color: var(--marker); }
ul li { list-style-type: "* "; }
ul.posts li { margin-bottom: 4px; }
li::marker { font-family: var(--mono-font); font-size: 12px; }
a { background-color: var(--link-bg); text-decoration: underline; text-decoration-style: dotted; }
a.ext-link { text-decoration-style: solid; }
a.ext-link::after { content: "°"; font-weight: bold; font-family: var(--mono-font); color: #ff0; }
a:hover { background-color: var(--fg); color: var(--bg); }
a.ext-link:hover::after { color: var(--bg); }
.site-title { font-size: 20px; font-weight: bold; }
footer { color: #aaa; max-width: 600px; font-size: 12px; margin-top: 24px; }

::-moz-selection { background: #00f; }
::selection { background: #00f; }
